*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    background: #111e32;
}
.main-nav{
    display: flex;
    gap: 10px;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
    background: black;
}
.main-nav h3{
    color: white;
}
nav{
    display: flex;
    gap: 10px;
    background: black;
}
nav a{
    color: white;
    padding: 16px;
    font-size: 12px;
    text-decoration: none;
}
nav a:hover{
    background: #111e32;
}
.nina{
    background: #111e32;
}